# 0. Modules and Dataset Import

`N.B` If you get a notification on `unpickle_load` module not present --> solution, update Python to 3.8.15

In [3]:
# !pip install pandas
# !pip install scipy

* `dict_table` was scrapped by the author from different websites and then loaded to pickle
* check webscraping of football from here :: https://www.youtube.com/watch?v=XDIscigGpGI
* `df_historical_data` has the data from the past ranging from years *1930* to *2018*
* the `dict_table` will have initial zeroes in the columns since we have not run any predictions nor used any models
* the column will fill as the ML models predict the winners in upcoming matches

In [1]:
import pandas as pd
import pickle as pkl
from scipy.stats import poisson

# ---------------------------------------------------------------------------------- #

dict_table = pd.read_pickle(open('./dataset/dict_table', 'rb'))
df_historical_data = pd.read_csv('./dataset/fifa_worldcup_matches.csv')
df_fixture = pd.read_csv('./dataset/fifa_worldcup_fixture.csv')

# 1. Team Strength Quantification

**STEP 1:**

* Split the histroical data into two data_frames: `df_home` and `df_away`

In [2]:
df_historical_data

           home         score      away  year
0       France            4–1    Mexico  1930
1    Argentina            1–0    France  1930
2        Chile            3–0    Mexico  1930
3        Chile            1–0    France  1930
4    Argentina            6–3    Mexico  1930
..          ...           ...       ...   ...
452     Russia   2–2 (a.e.t.)   Croatia  2018
453     France            1–0   Belgium  2018
454    Croatia   2–1 (a.e.t.)   England  2018
455    Belgium            2–0   England  2018
456     France            4–2   Croatia  2018

[457 rows x 4 columns]